body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; }

header {
  background-color: #db3439;
  height: 80px;
  color: white;
  padding: 10px 0;
  text-align: center; }
  header h1 {
    margin: 0;
    font-size: 24px; }
  header nav {
    margin-top: 10px; }
    header nav a {
      color: white;
      margin: 0 10px;
      text-decoration: none; }
      header nav a:hover {
        text-decoration: underline; }

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px; }
  .about img {
    width: 150px;
    height: auto;
    margin-top: 15px; }

.books {
  padding: 20px;
  text-align: center; }
  .books .book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .books .book-list .book {
      background-color: white;
      width: 250px;
      margin: 10px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }
      .books .book-list .book img {
        width: 100%;
        height: auto;
        border-radius: 10px; }
      .books .book-list .book h3 {
        color: #db3439;
        margin-top: 10px; }
      .books .book-list .book p {
        color: #666;
        font-size: 14px; }
      .books .book-list .book .details-btn {
        background-color: #db3439;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px; }
        .books .book-list .book .details-btn:hover {
          background-color: #e35f63; }

#about {
  margin-bottom: 40px; }

#books {
  margin-bottom: 40px; }

#contact {
  margin-bottom: 40px; }

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ccbf2e;
  padding: 20px;
  color: white; }
  .contact a {
    color: white;
    font-weight: bold; }
    .contact a:hover {
      color: #e6e6e6; }
